{
    "extends": [
        "@remix-run/eslint-config",
        "@remix-run/eslint-config/node",
        "@remix-run/eslint-config/jest-testing-library",
        "@bradgarropy/eslint-config",
        "@bradgarropy/eslint-config-react",
        "@bradgarropy/eslint-config-typescript"
    ],
    "rules": {
        "testing-library/no-await-sync-events": [
            "error",
            {
                "eventModules": ["fire-event"]
            }
        ]
    }
}
