# dependencies
/node_modules

# build
/.cache
/.react-router
/build
/public/build
/tsconfig.tsbuildinfo

# test
/coverage

# host
/.vercel

# secrets
/.env*

# logs
/debug.log

# os
.DS_Store

# generated
/public/feed.json
/public/feed.xml
/public/robots.txt
/public/sitemap.txt
