# editor
/.vscode

# dependencies
/node_modules

# build
/.cache
/tsconfig.tsbuildinfo
/api
/build
/public/build

# test
/coverage

# host
/.vercel

# secrets
/.env*

# logs
/debug.log

# os
.DS_Store

# templates
*.hbs
