{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}
