.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: var(--text);
    text-transform: lowercase;
}

.content > p:first-of-type {
    margin-top: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-self: center;
    grid-template-areas: "next previous";
}

.inspiration {
    margin-block-start: 5rem;
    text-align: center;
    font-style: italic;
}
