.newsletter {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 4rem;
    align-items: baseline;
}

@media (max-width: 600px) {
    .newsletter {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
    }
}

.description {
    margin-top: -3rem;
}
