.connect {
    display: grid;
    gap: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.connect p {
    margin: 0rem;
}

.socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    column-gap: 1.25rem;
}

.profile {
    transition-property: transform, border, background-color;
    transition-duration: var(--transitionDuration);
    border-radius: 100%;
    border: 7px solid var(--text) !important;
    background-color: var(--text);
    max-width: 14rem;
    width: 80vw;
}
