.button {
    display: inline-block;
    background: var(--darkPurple);
    color: var(--white);
    padding: 0.5rem 0.75rem;
    border-radius: 0.3rem;
    border: 2px solid var(--black);
    box-shadow: 3px 3px 0 var(--text);
    margin-bottom: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: -0rem;
}

.button:hover {
    box-shadow: none;
}

.button[disabled] {
    cursor: default;
}

.button[disabled]:hover {
    box-shadow: 3px 3px 0 var(--text);
}
