.code :global(code:not(.grvsc-code)) {
    background-color: #2d2b55;
    color: #fad000;
    padding: 0.25rem 0.5rem;
    border-radius: var(--borderRadius);
}

.code > :global(pre > code.grvsc-code) {
    width: 100%;
}
