.input {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    border: 3px solid var(--black);
    border-radius: 0.3rem;
    box-shadow: 3px 3px 0 var(--text);
    color: var(--black);
}

.input::placeholder {
    color: var(--darkGrey);
}

.input:focus {
    outline: none;
    border-color: var(--primary);
}
