.search {
    width: 75%;
    margin-block-end: 2.25rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    border: 3px solid var(--black);
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 0 var(--text);
    color: var(--black);
}

.search::placeholder {
    color: var(--darkGrey);
}

.search:focus {
    outline: none;
    border-color: var(--primary);
}
