.heading {
    position: relative;
}

.heading:hover .link {
    visibility: visible;
}

.link {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    box-shadow: none !important;
    height: 100%;
    padding: 0rem 1.25rem;
    visibility: hidden;
    color: var(--text);
}

.icon {
    width: 1.25rem;
}
