.posts {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.posts a {
    color: black;
    display: block;
    text-decoration: none;
}

.posts a:hover {
    color: #98fb98;
}
