.post-list-item h1 {
    margin: 0px;
    font-size: 2.5em;
    font-weight: 600;
}

.post-list-item p {
    margin: 0px;
}

.post-list-item a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

.post-list-item a:hover {
    color: #47A8BD;
}
