.latestVideos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: start;
}

@media (max-width: 700px) {
    .latestVideos {
        grid-template-columns: 1fr;
    }
}

.thumbnailLink > span {
    overflow: visible !important;
    display: block !important;
}

.thumbnail {
    transition-property: box-shadow;
    transition-duration: var(--transitionDuration);
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    border: 3px solid var(--text) !important;
    background-color: var(--text);
    box-shadow: 3px 3px 0 var(--text);
}

.thumbnail:hover {
    box-shadow: none;
}
