.thumbnail {
    transition-property: box-shadow;
    transition-duration: var(--transitionDuration);
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    border: 3px solid var(--text) !important;
    background-color: var(--text);
    box-shadow: 3px 3px 0 var(--text);
}

.thumbnail:hover {
    box-shadow: none;
}
