@import "colors";

.footer {
    text-align: center;
    padding: 20px 0px;
}

.footer a {
    padding: 10px;
}

.footer .fa {
    font-size: 40px;
    color: rgba($color: black, $alpha: 0.8);
}

.footer .fa:hover {
    color: $blue;
}
