@import "colors";

.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-column-gap: 1.25rem;
    padding: 1.25rem 0rem;

    .fa {
        font-size: 2.5rem;
        color: rgba($color: black, $alpha: 0.8);

        &:hover {
            color: $blue;
        }
    }

}
