@import "colors";

html {
    margin: 0rem;
    padding: 0rem;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-y: scroll;
    margin: 0rem;
    padding: 0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgba($color: black, $alpha: 1.0);
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    line-height: 1.5;
}

p {
    color: rgba($color: black, $alpha: 0.8);
    line-height: 1.75;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $orange;
    }
}

code {
    font-size: 0.9rem;
}

img {
    display: block;
    max-width: 100%;
    margin: 0rem auto;
}

blockquote {
    border-left: 3px solid $blue;
    font-style: italic;
    padding-left: 1rem;
}

ul {
    color: rgba($color: black, $alpha: 0.8);
}
