@import "colors";


.post-list-item h1
{
    margin: 0px;
    font-size: 2.5em;
}

.post-list-item p {
    margin: 0px;
}

.post-list-item h1 a {
    color: black;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    text-decoration: none;
}

.post-list-item h1 a:hover {
    color: $blue;
}
