.thanks {
    margin-bottom: 4rem;
}

.tiers {
    display: grid;
    row-gap: 5rem;
}

.tier {
    font-size: 2.5rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.sponsor {
    display: inline-block;
    position: relative;
}

.sponsor:hover {
    color: inherit;
}

.avatar {
    width: 6rem;
    margin: 0rem;
    border-radius: 100%;
    border: 5px solid var(--text);
    background-color: var(--text);
}

.avatar:hover {
    transform: rotate(-2deg);
    border: 5px solid var(--primary);
    background-color: var(--primary);
}
